@import url('http://fonts.googleapis.com/css?family=Ubuntu:regular,bold,italic&subset=Latin');

/* style definitions */
h1{
	font-family: Ubuntu;
	font-weight: normal;
	font-size: 36;
}
h2{
	font-family: Ubuntu;
	font-weight: normal;
	font-size: 28;
}
h3{
	font-family: Ubuntu;
	font-weight: normal;
	font-style: italic;
	font-size: 24;
}

body,p,ul,ol,li,table{
	font-family: Ubuntu;
	font-weight: normal;
	font-size: 16;
}
h4{
	font-family: Ubuntu;
	font-weight: normal;
	font-size: 16;
}
h5{
	font-family: Ubuntu;
	font-weight: normal;
	font-style: italic;
	font-size: 14;
}
marquee{
	font-family: Ubuntu Mono;
	font-weight: normal;
	font-size: 12;
	font-style: italic;
	background-color: yellow;
}